* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #0f172a;
  line-height: 1.6;
}

.navbar {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #22c55e;
}

.menu {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu li {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.menu li:hover {
  color: #22c55e;
}

.primary-btn {
  background-color: #22c55e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary-btn:hover {
  background-color: #16a34a;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.secondary-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.secondary-btn:hover {
  background-color: white;
  color: #22c55e;
  transform: translateY(-2px);
}

.banner {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.banner-content {
  max-width: 720px;
}

.banner h1 {
  font-size: 48px;
  margin: 15px 0;
}

.badge {
  color: #22c55e;
  font-size: 13px;
}
.banner span {
  color: #22c55e;
}

.banner-text {
  font-size: 16px;
  margin-bottom: 28px;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.notes {
  background-color: #f8fafc;
  padding: 90px 0;
  text-align: center;
}

.subtitle {
  color: #64748b;
  margin-bottom: 50px;
}

.card-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.card {
  background-color: white;
  padding: 35px 25px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.second-brain {
  width: 71%;
  max-width: 1140px;
  margin: 90px auto;
  display: flex;
  gap: 80px;
  align-items: center;
}

.brain-img img {
  width: 420px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.brain-img img:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.brain-content p {
  color: #475569;
  margin-top: 15px;
}

.brain-content ul {
  list-style: none;
  margin-top: 15px;
}

.brain-content li {
  margin-bottom: 10px;
}

.early-access {
  background-color: #f8fafc;
  padding: 90px 0;
  text-align: center;
}

.access-box {
  background-color: white;
  width: 71%;
  max-width: 820px;
  margin: 0 auto;
  padding: 65px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.access-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.access-subtitle {
  color: #64748b;
}

.access-note {
  font-size: 14px;
  color: #94a3b8;
}

.footer-dark {
  background-color: #020617;
  color: white;
  padding: 54px 0 25px;
}

.footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons span {
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons span:hover {
  color: #22c55e;
}

.footer-dark hr {
  margin: 30px 0;
}

.copyright {
  text-align: center;
  font-size: 13px;
}